
<div class="container">
    <div class="details-container">
        <h2 class="centered">Connect With Us</h2>
        <div class="contact-detail">
            <p class="detail-info">
                <a href="mailto:LearnSphere@gmail.com">LearnSphere&#64;gmail.com</a>
            </p>
            <p class="detail-info">
                <a href="tel:+915478674333">+91 6498 3490 43</a>
            </p>
            <p class="detail-info">
                <a href="https://www.google.com/maps/search/?api=1&query=132+Dartmouth+Street,+Boston,+Massachusetts+02156" target="_blank">
                    E-learning platform<br>
                </a>
            </p>
        </div>
    </div>
    <div class="form-container">
        <table>
            <tr>
                <td>
                    <div>
                        <label>First Name</label>
                        <input type="text" class="input-box">
                    </div>
                </td>
                <td>
                    <div class="last-name-container">
                        <label>Last Name</label>
                        <input type="text" class="input-box">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label>E-mail</label>
                        <input type="email" class="input-box">
                    </div>
                </td>
                <td>
                    <div>
                        <label>Phone Number</label>
                        <input type="tel" class="input-box">
                    </div>
                </td>
            </tr>
        </table>
        <div>
            <label>Write Message</label>
            <textarea placeholder="Enter your queries here..." class="text-box"></textarea>
        </div>
        <button class="send-btn">Send Message</button>
    </div>
</div>
