<div class="background-container">
    <div class="container">
        <div class="child-container">
            <!-- <img [src]="'logo.png'" height="50" class="logo-image"> -->
            <!-- <img [src]="'logo.png'" height="50" class="logo-image"> -->
            <h1 class="title">LearnSphere</h1>
        </div>
        <div id="nav-container">
            <nav>
                <a routerLink="home" routerLinkActive="active">Home</a>
                <a routerLink="about" routerLinkActive="active">About</a>
                <a routerLink="contact" routerLinkActive="active">ContactUs</a>
                <a routerLink="register" routerLinkActive="active"><button class="btn">Register</button></a>
                <a routerLink="login" routerLinkActive="active"><button class="btn">Login</button></a>
            </nav>
        </div>
    </div>
    <!-- <div class="text-container">
        <h2>Welcome to LearnSphere</h2>
        <br>
        <p>LearnSphere is a captivating name that immediately <br>
         evokes a sense of immersion and exploration in the <br>
             realm of learning. The word "sphere" implies <br> a comprehensive
             and encompassing environment, <br> suggesting that LearnSphere<br>
              offers a wide range of educational resources and opportunities</p>
    </div> -->
    <button class="start-btn" routerLink="login">Start Learning</button>
</div>
