<!-- <div class="container">
    <h1 class="title">Choose Your Role</h1>
    <div class="btn-container">
        <button class="btn" (click)="showForm('admin-register')"><img [src]="'image/admin.png'" alt="admin-image" height="150px" width="150px"></button>
        <button class="btn" (click)="showForm('student-register')"><img [src]="'image/student.png'" alt="admin-image" height="150px" width="150px"></button>
    </div>
    <div class="role-container">
        <h3>Admin</h3>
        <h3>Student</h3>
    </div>
</div> -->
<!-- <div class="container">
    <h1 class="title">Choose Your Role</h1>
    <div class="btn-container">
        <button class="btn admin-btn" (click)="showForm('admin-register')">
            <span>Admin</span>
        </button>
        <button class="btn student-btn" (click)="showForm('student-register')">
            <span>Student</span>
        </button>
    </div>
</div> -->
<body>
<div class="container">
    <h1 class="title">Choose Your Role</h1>
    <div class="btn-container">
        <button class="btn admin-btn" (click)="showForm('admin-register')">
            <span>Admin</span>
        </button>
        <button class="btn student-btn" (click)="showForm('student-register')">
            <span>Student</span>
        </button>
    </div>
</div>
</body>